{% if messages %}
<div class="mb-3">
    {% for message in messages %}
        {% if message.tags == 'error' %}
            {% with tag='danger' icon='exclamation-octagon' %}
                <div class="alert-kalro alert-{{ tag }}" data-auto-dismiss>
                    <i class="bi bi-{{ icon }}"></i>
                    <div>{{ message }}</div>
                </div>
            {% endwith %}
        {% elif message.tags == 'success' %}
            <div class="alert-kalro alert-success" data-auto-dismiss>
                <i class="bi bi-check-circle"></i>
                <div>{{ message }}</div>
            </div>
        {% elif message.tags == 'warning' %}
            <div class="alert-kalro alert-warning" data-auto-dismiss>
                <i class="bi bi-exclamation-triangle"></i>
                <div>{{ message }}</div>
            </div>
        {% elif message.tags == 'debug' %}
            <div class="alert-kalro alert-info" data-auto-dismiss>
                <i class="bi bi-bug"></i>
                <div>{{ message }}</div>
            </div>
        {% else %}
            <div class="alert-kalro alert-info" data-auto-dismiss>
                <i class="bi bi-info-circle"></i>
                <div>{{ message }}</div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endif %}